{% extends 'base.html' %}
{% load static %}

{% block title %} 
<style>
    .ToDoCustom{
        position: relative;
        left: 380px;
        text-align: left;
        color:black;
    }
</style>
<h1 class = "ToDoCustom">To Do List </h1>
{% endblock title %}



{% block content %}
    <style>
        body{
            background-color: #F5C77E;
            font-family: 'Inter', sans-serif;
            padding-top: 50px;
        }
        h3{
            position: relative;
            color: black;
            left: 320 px;

        }
    </style>
    <tr>
        <th></th>
        <th></th>
    </tr>
    {% for task in tasks %}
        <article class="media content-section" style="position: dynamic; background-color: #648090; width: 500px; border-radius: 20px; left: 0px;">
            <div class="media-body">
                <div class="article-metadata">
                    <a style="color: black;" class="mr-2" href = "{% url 'task' task.id %}">View</a>
                    <a style="color: black;" class="mr-2" href = "{% url 'task-update' task.id %}">Edit</a>
                    <a style="color: black;" class="mr-2" href = "{% url 'task-delete' task.id %}">Delete</a>
                </div>
                <h2><a style="color: black;" class="article-title">{{task.title}} </a></h2>
                <h6 style="color: black;">{{task.deadline}}</h6>

            </div>
        </article>
    {% empty %}
        <h3> No Items in List </h3>
    {% endfor %}
{% endblock content %}

{% block sidebar %}
    <style>
        .btn-custom {
            position: absolute;
            left: 975px;
            padding: 15px;
            font-size: 30px;
            fill: #444444;
            text-align: center;
            top: 310px;
            align-self: center;
            background: #053F5C;
            color: white;
            border-radius: 50px;
        }
        img{
            position: absolute;
            left: 1160px;
            height: 65px;
            top: 315px;

        }
    </style>
    <a class="btn-custom" href="{% url 'task-create' %}" role="button" style="width: 300px; height: 80px; text-align:left;">+ Add Task  </a>
    <img class = "image-container" src="{% static "to_do_list_app/media/image(3).png" %}" />
    
    
{% endblock sidebar %}

