{% extends 'base.html' %}


{% block title %} <h1> To Do List </h1> {% endblock title %}


{% block content %}
    <table>
        <tr>
            {% if request.user.is_authenticated %}
            <p>{{request.user}}</p>
            <a href = "{% url 'logout' %}">Logout</a>
            {% else %}
            <a href = "{% url 'login' %}">Login</a>
            {% endif %}
            <th>Items </th>
            <a href=" {% url 'task-create' %}">Add item</a>
            <th></th>
            <th></th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{task.title}}</td>
            <td>{{task.created}}</td>
            <td><a href = "{% url 'task' task.id %}">View</a></td>
            <td><a href = "{% url 'task-update' task.id %}">Edit</a></td>
            <td><a href = "{% url 'task-delete' task.id %}">Delete</a></td>
        </tr>
        {% empty %}
            <h3> No Items in List </h3>
        {% endfor%}
    </table>
{% endblock content %}

