{% extends 'base.html' %}

{% block title %}
    <h1 align="center">Friends</h1>
{% endblock title %}

{% block content %}
    {% for friend in friends %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ friend.name }}</a>
                    <small class="text-muted">{{ friend.status}}</small>
                </div>
                <h2><a class="article-title" href="#">{{ friend.name }}</a></h2>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{  friend.progress }}%;" aria-valuenow={{ friend.progress }}aria-valuemin="0" aria-valuemax="100">{{ friend.progress }}%</div>
                </div>

            </div>
        </article>
    {% endfor %}
{% endblock content %}

{% block sidebar %}
    <div class="col-md-3">
        <div class="content-section">
            <h3>Leaderboard</h3>
            <p class='text-muted'>Who's winning?
            <ul class="list-group">
            {% for name in names %}
                <li class="list-group-item list-group-item-light">{{ name }}</li>
            {% endfor %}
            </ul>
            </p>
        </div>
    </div>
{% endblock sidebar %}