{% extends 'base.html' %}

{% block title %}
    <h1>Friends</h1>
{% endblock title %}

{% block content %}
    {% for friend in friends %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ friend.name }}</a>
                    <small class="text-muted">{{ friend.status}}</small>
                </div>
                <h2><a class="article-title" href="#">{{ friend.name }}</a></h2>
                <progress value = {{ friend.progress }} max = "100"/>
                <p class="article-content">{{ friend.progress }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}