{% extends 'base.html' %}

{% block title %}
    <h1 align="center">Friends</h1>
{% endblock title %}

{% block content %}
    {% for friend in friends %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ friend.username }}</a>
                    <small class="text-muted">Is Tired</small>
                </div>
                <h2><a class="article-title" href="#">{{ friend.username }}</a></h2>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{ friend.ratio }}%;" aria-valuenow={{ friend.ratio }} aria-valuemin="0" aria-valuemax="100">{{ friend.ratio }}%</div>
                </div>


            </div>
        </article>
    {% endfor %}
{% endblock content %}

{% block sidebar %}
    <div class="col-md-3">
        <div class="content-section">
            <h3>Leaderboard</h3>
            <p class='text-muted'>Who's winning?
            <ul class="list-group">
            {% for friend in friends %}
                <li class="list-group-item list-group-item-light">{{ friend.username }}      {{ friend.ratio }}%</li>
            {% endfor %}
            <a class="btn-custom" href="{% url 'friend-add' %}" role="button">Add friend</a>
            </ul>
            </p>
        </div>
    </div>
{% endblock sidebar %}